@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans/OpenSans-Light.ttf"); }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf"); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf"); }
body {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'OpenSans-Light'; }
  body a {
    text-decoration: none; }
  body a:hover {
    text-decoration: none; }
  body .initialModal {
    min-height: 90px;
    width: 100%;
    margin: 0;
    padding: 0 2em 0 2em !important;
    background-color: #ff634a; }
    body .initialModal .brand {
      color: #fff;
      font-family: 'OpenSans-Semibold';
      font-size: 2em;
      line-height: 60px;
      display: inline-block;
      width: 10%; }
    body .initialModal .nav {
      right: 40px;
      display: inline-block;
      margin-top: 5px;
      width: 80%; }
      body .initialModal .nav .modalFind, body .initialModal .nav .modalNew, body .initialModal .nav .modalEtat, body .initialModal .nav .modalConnect {
        color: white;
        font-size: 1.2em;
        line-height: 40px;
        text-align: left;
        text-decoration: none;
        height: 40px;
        width: auto;
        margin: 10px 0.5em 0 0;
        padding: 0 2em 0 1em;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1.7em;
        border-left: dotted 1px white; }
      body .initialModal .nav .modalFind:hover, body .initialModal .nav .modalNew:hover, body .initialModal .nav .modalEtat:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.2); }
      body .initialModal .nav .modalNew {
        background-image: url("../img/plus.png"); }
      body .initialModal .nav .modalFind {
        background-image: url("../img/magnifier.png"); }
      body .initialModal .nav .modalEtat {
        background-image: url("../img/piggy-bank.png"); }
      body .initialModal .nav .newBox, body .initialModal .nav .findBox {
        padding: 1.2em;
        border: 1px solid #ebebeb;
        background-color: #f8f8f8; }
  body .containerDepenses, body .containerUsers {
    height: auto;
    width: 90%;
    margin: 5%; }
    body .containerDepenses .containerFilter, body .containerUsers .containerFilter {
      color: white;
      font-size: 1.2em;
      line-height: 40px;
      text-align: left;
      text-decoration: none;
      height: 40px;
      width: auto;
      margin: 10px 0.5em 0 0;
      padding: 0 2em 0 1em;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 1.7em;
      border-left: dotted 1px white;
      width: 100%;
      color: black; }
    body .containerDepenses .modalDepense, body .containerDepenses .modalUser, body .containerUsers .modalDepense, body .containerUsers .modalUser {
      padding: 1.2em;
      border: 1px solid #ebebeb;
      background-color: #f8f8f8;
      min-height: 220px;
      width: 18.5vw;
      margin: 0.2em;
      display: inline-block; }
      body .containerDepenses .modalDepense .DepenseLeft, body .containerDepenses .modalUser .DepenseLeft, body .containerUsers .modalDepense .DepenseLeft, body .containerUsers .modalUser .DepenseLeft {
        float: left; }
        body .containerDepenses .modalDepense .DepenseLeft .userColor, body .containerDepenses .modalUser .DepenseLeft .userColor, body .containerUsers .modalDepense .DepenseLeft .userColor, body .containerUsers .modalUser .DepenseLeft .userColor {
          height: 70px;
          width: 70px;
          border-radius: 60px;
          background-color: grey;
          background-image: url(../img/user.png);
          background-size: cover; }
        body .containerDepenses .modalDepense .DepenseLeft .userName, body .containerDepenses .modalUser .DepenseLeft .userName, body .containerUsers .modalDepense .DepenseLeft .userName, body .containerUsers .modalUser .DepenseLeft .userName {
          font-size: 1em;
          font-family: 'OpenSans-Semibold';
          margin: 0; }
        body .containerDepenses .modalDepense .DepenseLeft .status .stBleu, body .containerDepenses .modalDepense .DepenseLeft .status .stVert, body .containerDepenses .modalDepense .DepenseLeft .status .stOrange, body .containerDepenses .modalDepense .DepenseLeft .status .stRouge, body .containerDepenses .modalUser .DepenseLeft .status .stBleu, body .containerDepenses .modalUser .DepenseLeft .status .stVert, body .containerDepenses .modalUser .DepenseLeft .status .stOrange, body .containerDepenses .modalUser .DepenseLeft .status .stRouge, body .containerUsers .modalDepense .DepenseLeft .status .stBleu, body .containerUsers .modalDepense .DepenseLeft .status .stVert, body .containerUsers .modalDepense .DepenseLeft .status .stOrange, body .containerUsers .modalDepense .DepenseLeft .status .stRouge, body .containerUsers .modalUser .DepenseLeft .status .stBleu, body .containerUsers .modalUser .DepenseLeft .status .stVert, body .containerUsers .modalUser .DepenseLeft .status .stOrange, body .containerUsers .modalUser .DepenseLeft .status .stRouge {
          height: 5px;
          width: 40px;
          display: inline-block;
          margin-right: 3px; }
        body .containerDepenses .modalDepense .DepenseLeft .status .stBleu, body .containerDepenses .modalUser .DepenseLeft .status .stBleu, body .containerUsers .modalDepense .DepenseLeft .status .stBleu, body .containerUsers .modalUser .DepenseLeft .status .stBleu {
          background-color: blue; }
        body .containerDepenses .modalDepense .DepenseLeft .status .stVert, body .containerDepenses .modalUser .DepenseLeft .status .stVert, body .containerUsers .modalDepense .DepenseLeft .status .stVert, body .containerUsers .modalUser .DepenseLeft .status .stVert {
          background-color: green; }
        body .containerDepenses .modalDepense .DepenseLeft .status .stOrange, body .containerDepenses .modalUser .DepenseLeft .status .stOrange, body .containerUsers .modalDepense .DepenseLeft .status .stOrange, body .containerUsers .modalUser .DepenseLeft .status .stOrange {
          background-color: orange; }
        body .containerDepenses .modalDepense .DepenseLeft .status .stRouge, body .containerDepenses .modalUser .DepenseLeft .status .stRouge, body .containerUsers .modalDepense .DepenseLeft .status .stRouge, body .containerUsers .modalUser .DepenseLeft .status .stRouge {
          background-color: red; }
      body .containerDepenses .modalDepense .DepenseRight, body .containerDepenses .modalUser .DepenseRight, body .containerUsers .modalDepense .DepenseRight, body .containerUsers .modalUser .DepenseRight {
        text-align: right; }
        body .containerDepenses .modalDepense .DepenseRight .date, body .containerDepenses .modalUser .DepenseRight .date, body .containerUsers .modalDepense .DepenseRight .date, body .containerUsers .modalUser .DepenseRight .date {
          font-size: 0.8em;
          margin-bottom: 0; }
        body .containerDepenses .modalDepense .DepenseRight .prix, body .containerDepenses .modalUser .DepenseRight .prix, body .containerUsers .modalDepense .DepenseRight .prix, body .containerUsers .modalUser .DepenseRight .prix {
          font-size: 1.3em;
          margin-top: 0; }
      body .containerDepenses .modalDepense .groupName, body .containerDepenses .modalUser .groupName, body .containerUsers .modalDepense .groupName, body .containerUsers .modalUser .groupName {
        font-size: 1.2em;
        margin: 0;
        float: left; }
      body .containerDepenses .modalDepense .description, body .containerDepenses .modalUser .description, body .containerUsers .modalDepense .description, body .containerUsers .modalUser .description {
        width: 18.5vw;
        float: left;
        font-size: 0.8em; }
      body .containerDepenses .modalDepense .concern .users, body .containerDepenses .modalUser .concern .users, body .containerUsers .modalDepense .concern .users, body .containerUsers .modalUser .concern .users {
        float: left;
        margin: 4px;
        height: 40px;
        width: 40px;
        border-radius: 60px;
        background-color: grey; }
      body .containerDepenses .modalDepense .concern .edit, body .containerDepenses .modalUser .concern .edit, body .containerUsers .modalDepense .concern .edit, body .containerUsers .modalUser .concern .edit {
        width: 18.5vw; }
  body .situation .quit, body .situation .deb, body .situation .debiCred, body .situation .cred {
    padding: 1.2em;
    border: 1px solid #ebebeb;
    background-color: #f8f8f8;
    min-height: 220px;
    width: 18.5vw;
    margin: 0.2em;
    display: inline-block; }
    body .situation .quit .users, body .situation .deb .users, body .situation .debiCred .users, body .situation .cred .users {
      float: left;
      margin: 4px;
      height: 40px;
      width: 40px;
      border-radius: 60px;
      background-color: grey; }

/*# sourceMappingURL=style.css.map */
