@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@import 'mixins';

body{
	padding:0;
	margin:0;
	// background-image: url('../img/seaBg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'OpenSans-Light';

	.initialModal{
		height: 70px;
		width : 50%;
		margin:0 auto;
		padding: 0 2em 0 2em!important;
		background-color: rgb(255,99,74);

		.brand{
			color:#fff;
			font-family: 'OpenSans-Semibold';
			font-size:2em;
			line-height: 60px;
			display:inline-block;
		}
		.nav{
			float:right;
			display:inline-block;
			margin-top:5px;
			

			.modalFind,.modalNew,.modalFilter,.modalEtat{
				@include modalNav;
			}

			.modalFind:hover,.modalNew:hover,.modalFilter:hover,.modalEtat:hover{
				color:white;
				background-color:rgba(255,255,255,0.2);
			}

			.modalFilter{
				background-image: url('../img/filter.png');
			}

			.modalNew{
				background-image: url('../img/plus.png');
			}

			.modalFind{
				background-image: url('../img/magnifier.png');
			}

			.modalEtat{
				background-image: url('../img/piggy-bank.png');
			}
		}	
	}
	.containerDepenses{
		height:auto;
		width:90%;
		margin:5%;

		.modalDepense{
			
			@include modalType;

			.DepenseLeft{
				float:left;
				.userColor{
					@include userBig;
				}
				.userName{
					font-size:1em;
					font-family: 'OpenSans-Semibold';
					margin:0;

				}
				.status{

					.stBleu,.stVert,.stOrange,.stRouge{
						height:5px;
						width:40px;
						display:inline-block;
						margin-right:3px;
					}
					.stBleu{
						background-color:blue;
					}
					.stVert{
						background-color:green;
					}
					.stOrange{
						background-color:orange;
					}
					.stRouge{
						background-color:red;
					}
				}
			}
			.DepenseRight{
				text-align:right;
				.date{
					font-size:0.8em;
					margin-bottom:0;
				}
				.prix{
					font-size:1.3em;
					margin-top:0;
				}
			}
			.groupName{
				font-size:1.2em;
				margin:0;
				float:left;
			}
			.description{
				float:left;
				font-size:0.8em;
			}
			.concern{
				.users{
					@include userSmall;
			}
			}
		}
	}

	.situation{
		.quit, .deb, .debiCred, .cred{
			@include modalType;

			.users{
				@include userSmall;
			}
		}
		
	}
}