<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>my-applyNg</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>	

<body ng-app="MyComptaApp">

	<div class="initialModal">
		<div class="brand">myApp</div>
		<div class="nav">
			<a href="" class="modalEtat">Situation</a>
			<a href="" class="modalFind">Recherche</a>
			<a href="" class="modalNew">Ajouter</a>
			<a href="" class="modalFilter">Filtrer</a>
		</div>
	</div>

	<div class="containerDepenses">

		<!-- modal depense-->
		<div class="modalDepense" ng-controller="depensesCtrl"> 
			<div class="DepenseLeft user">
				<div class="user" ng-repeat="usercolor in users">{{usercolor}}</div>
				<p class="userName" ng-repeat="depense in depenses">{{depense.Payeur}}</p>
				<div class="status">
					<div class="stVert"></div>
				</div>
			</div>

			<div class="DepenseRight">
				<p class="date">20/08/2016</p>
				<p class="prix" ng-repeat="depense in depenses">{{depense.Montant +" &euro;"}}</p>
			</div>
			<p class="groupName" ng-model="usergroup">{{"Groupe: "+ usergroup}}</p>
			<p class="description" ng-model="Description">{{"Description des depenses : " + Description}}</p>

			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">

		</div>
		<!-- end modal depense-->



		<!-- modal depense-->
	 	<div class="modalDepense"> 
			<div class="DepenseLeft">
				<div class="userColor"></div>
				<p class="userName">Payeur name</p>
				<div class="status">
					<div class="stVert"></div>
				</div>
			</div>

			<div class="DepenseRight">
				<p class="date">20/08/2016</p>
				<p class="prix">00,00 &euro;</p>
			</div>
			<p class="groupName">Groupe : été 2046</p>
			<p class="description">Description des depenses : alimentaire, transport, hebergement..</p>

			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">
			<img class="users" src="img/user.png">

		</div>
		<!-- end modal depense-->




<!--		<div class="situation"> Situation
			<div class="quit">
				<img class="users" src="img/user.png">
			</div>
			<div class="deb">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
			</div>
			<div class="debiCred">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
			</div>
			<div class="cred">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
				<img class="users" src="img/user.png">
			</div>
		</div> end Situation-->



<!-- Calculette
	<br>
	<input type="text" ng-model="nbr1"/>
	<input type="text" ng-model="nbr2"/>

		{{"Somme : " + (nbr1 * 1 + nbr2 * 1)}}

-->

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">






// AutoRun Js element ready //
   function autorun()
   {
    
   }
   if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
   else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
   else window.onload = autorun;
  </script>

</body>
</html>